@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	background-color: #fcfcfc;
	min-width: 920pt;
}

td {
	border-spacing: 0px;
	padding: 0px;
}

p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin-top: 12px;
	font-size: 14px;
	line-height: 20px;
}

h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 24px;
	font-weight: 700;
}

h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	font-weight: 600;
}

h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	font-weight: 450;
}

.tableHighlightCell {
	border-radius: 10px;
	padding: 0px
}

.tableHighlightCell:hover {
	background-color: #cccccc;
	transition: background-color .2s ease-in-out;
	color: #444444
}

.captionTitle {
	border-bottom: 1px solid #777777
}

.homePage {
	text-decoration: none;
	color: #000000;
}

.homePage:hover {
	color: #929292;
	transition: color .2s ease-in-out;
}